.grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    overflow: auto; 
}

#container {
    background-color: #161a1d;
    height: 100vh;
}

#headerDiv{
    background-color: #0b090a;
    grid-row: 1;
    grid-column: 1/4;
    opacity: 0.9; 
    overflow: auto;
    height: 100px;
}

#headLeft {
    float:left;
    align-items: left;
}

#headRight {
    width: 50%;
    float: right;
    align-items: right;
}

#leftBox {
    grid-row: 2/8;
    grid-column: 1/3;
    opacity: 0.8;
    overflow: auto;
}

#leftContainer{
    height: 100%;
}

#leftTop{
    grid-row: 1; 
    overflow: auto;
}

#leftBot{
    grid-row: 2; 
    overflow: auto;
}

#rightBox {
    align-items: center;
    grid-row: 2/8;
    grid-column: 3;
    opacity: 0.8;
}

#footerDiv{
    background-color: #0b090a;
    grid-row: 8;
    grid-column: 1/4; 
    opacity: 0.8;
    overflow: auto;
}

#btn-section {
    float: right;
    width: 100%;
    gap: 10px;
    font-size: 15px;
    font-family: "sofia-pro", sans-serif;
}

.preBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.preContainer {
    position: relative;
    display: block;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 500px;
    width: fit-content;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btnPosR {
    float: right;
    margin-top: 24px;
    margin-left: 10px;
}

.option {
    float: right;
    display: flex;
    margin-right: 3px;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
}