.modal {
    margin: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer/Edge */
    scrollbar-color: transparent transparent; /* For Firefox */
    transition: tr;
}

.modal::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.modal-pages {
    white-space: nowrap;
    padding: 50px;
    max-width: 1350px;
    transition: transform 250ms ease-in;
    user-select: none;
}

.modal-page {
    display: inline-block;
    border: 2px solid black;
    list-style: none;
    width: 600px;
    height: 800px;
    margin-right: 50px;
    overflow: hidden;
    position: relative;
}

.modal-left, .modal-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.modal-left {
    left: 0;
}

.modal-right {
    right: 0;
}

.modal-page h1 {
    display: flex;
    justify-content: center;
}

.modal-page img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


