* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333333;
    padding: 5px 10px 0px 10px;
    text-align: center;
    /* Center-align the content */
    /*transition: height 0.3s;*/
    /* Smooth transition effect */
    z-index: 5;
}

#logo {
    display: inline-block;
    text-align: left;
    z-index: 5;
    /*margin-left: -500px; /* Adjust the value to move the logo to desired position */
    padding-top: 7px;
    padding-bottom: 5px;
    margin-left: 50px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#logo img {
    /*width: 134px;
    height: 80px;*/
    width: 99.3px;
    height: 53px;
    /*transition: height 0.3s;*/
    z-index: 3;
}

/* Styles for the minimized header*/
/*
.sticky-header.minimized {
    height: 55px;
    padding: 11px 11px 60px 50px;
}

.sticky-header.minimized #logo {
    display: inline-block;    
    text-align: left;    
    padding: 5px 0px 5px 0px;    
}

.sticky-header.minimized #logo img {
    height: 50px;
    width: auto;
}*/

#headerLeft {
    background: #333333;
    opacity: 0.9;
    overflow: auto;
    z-index: 2;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}

#btn-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    float: left;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 40px;
    padding-right: 30px;
    margin-top: 0px;
}

#btn-section button {
    font-size: 12px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
}

#btn-section label {
    font-size: 11px;
}

#btn-section .input::placeholder,
#btn-section select,
#btn-section option {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}

#logo.above #btn-section .input,
#logo.above #btn-section select,
#logo.above #btn-section option,
#logo.above #btn-section button {
    margin-top: 0px;
    padding: 0px;
}

#headerRight {
    position: relative;
}

.tips {
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    border: none;
    background-color: #17313a;
    color: white;
    font-size: 12px;
    padding-inline: 5px;
    bottom: 5px;
    width: 120px;
    height: 30px;
    opacity: .7;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0.5px 0.5px #99bbff7b;
    z-index: 5;
}

.firstGrid {
    display: flex;
    margin-top: 100px;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: center;
}

.secGrid {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
}

.thirdGrid {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.forthGrid{
    margin-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

label {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


#leftContainer {
    height: 100%;
    margin: 10px;
}

#editor {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #17313a;
    background: white;
    color: black(0, 0%, 100%, .9);
    font-size: 21px;
    font-family: "sofia-pro", sans-serif;
    overflow-wrap: break-word;
    resize: none;
}

#container {
    width: 100%;
    background-color: #161a1d;
    flex-direction: column;
    overflow: hidden;
}

.btnBox {
    float: right;
    margin-left: 5px;
    margin-top: 19px;
}

.option {
    float: left;
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    /*box-shadow: 0.5px 1px 0px #99bbff7b;*/
}

.input {
    color: white;
    font-size: 14px;
    background: #284b63;
    padding-inline: 5px;
    border: 1.5px solid black;
    height: 35px;
    font-weight: 500;
    position: relative;
}

.save-btn {
    border-radius: 4px;
    border: none;
    background: #17313a;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0.5px 0.5px #99bbff7b;
}

.layout-select {
    width: 100%;
    max-width: 1024px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.layout-select select,
.layout-select option,
.newPageBtn button,
.previewSelect button,
.alignTextC button,
.generateBtn button,
#promptInput::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.previewSelect {
    display: flex;
    justify-content: center;
}
.preview{
    display: flex;
    width: 100%;
    margin-top:10px;
    justify-content: center;
}
.btnShadow:hover {
    border-radius: 2px;
    border: none;
    color: hsla(0, 0%, 100%, .9);
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0.5px 0.5px #99bbff;
    /*box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.19), 0 17px 50px 0 rgba(0, 0, 0, 0.19);*/
}

.textOutput {
    position: relative;
    height:440px;
    display: none;
    border-radius: 10px;
    list-style: none;
    border: 2px solid #17313a;
    background: white;
    color: black(0, 0%, 100%, .9);
    font-size: 21px;
    font-family: "sofia-pro", sans-serif;
    overflow-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px; 
}

.textOutput img {
    position: absolute;
    width: 1024px;
    left:0;
    bottom: 0;
    z-index: 0;
    max-width: 100%;
    max-height: 331px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

.current-page {
    z-index: 1;
}

.carousel__nav {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: hsla(0, 0%, 100%, 0.566);
    margin: 0 7px;
    cursor: pointer;
    z-index: 10;
}

.current-dot {
    background: hsla(0, 0%, 100%, 0.961);
}

.arrows {
    width: 30px;
    height: 50px;
}

.rightSection {
    margin-top: 30px;
}

.placement-select {
    margin-top: 10px;
}

.openClose-btn {
    border-radius: 4px;
    border: none;
    width: 200px;
    background: #17313a;
    color: hsla(0, 0%, 100%, .9);
    /*font-size: 15px;*/
    height: 35px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0.5px 0.5px #99bbff7b;
}

.alignTextC {
    margin-right: auto;
}

.current-page {
    display: block;
}

.is-hidden {
    display: none;
}

#rightArrow,
#leftArrow {
    min-width: 35px;
}

#rightArrow > button,
#leftArrow > button{
    width: 35px;
}

.inOutSize {
    width: 100%;
    height: 440px;
    max-width: 1024px;
}
.inOutSize > ul{
    height: 100%;
}

.prompt {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
}

.promptInput {
    width: 100%;
    max-width: 1024px;
    height: 100%;
}


header {
    background-color: #262626;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.test {
    margin-left: auto;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.nav-link {
    transition: 0.7 ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:920px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: 100%;
        top: 70px;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        align-items: center;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
    @media(max-width: 415px) {
        .layout-select{
            flex-direction: column;
        }
        .generateBtn{
            display: flex;
            justify-content: center;
        }
        .newPageBtn{
            display: flex;
            justify-content: center;
        }
    }
}