* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333333;
    padding: 5px 10px 0px 10px;
    text-align: center;
    /* Center-align the content */
    /*transition: height 0.3s;*/
    /* Smooth transition effect */
    z-index: 5;
}

#logo {
    display: inline-block;    
    text-align: left;    
    overflow: hidden;    
    z-index: 3;
    /*margin-left: -500px; /* Adjust the value to move the logo to desired position */
    padding-top: 7px;
    padding-bottom: 5px;    
    position: fixed;
    top: 0;
    left: 50%;    
    transform: translateX(-50%);
}

#logo img {
    /*width: 134px;
    height: 80px;*/
    width: 99.3px;
    height: 53px;
    /*transition: height 0.3s;*/
    z-index: 3;
}

/* Styles for the minimized header*/
/*
.sticky-header.minimized {
    height: 55px;
    padding: 11px 11px 60px 50px;
}

.sticky-header.minimized #logo {
    display: inline-block;    
    text-align: left;    
    padding: 5px 0px 5px 0px;    
}

.sticky-header.minimized #logo img {
    height: 50px;
    width: auto;
}*/

#headerLeft {        
    background: #333333;
    opacity: 0.9;
    overflow: auto;
    z-index: 2;
    /*padding-top: 20px;
    padding-bottom: 20px;*/    
}

#btn-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    float: left;    
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 40px;
    padding-right: 30px;
    margin-top: 0px;
}

#btn-section button {
    font-size: 12px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
}

#btn-section label {
    font-size: 11px;
}

#btn-section .input::placeholder,
#btn-section select,
#btn-section option {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}

#logo.above #btn-section .input,
#logo.above #btn-section select,
#logo.above #btn-section option,
#logo.above #btn-section button {
    margin-top: 0px; 
    padding: 0px; 
}

#headerRight {
    position: relative;
}

.tips {
    position: relative;
    top: 30px;
    right: 50px;    
    border-radius: 4px;
    border: none;
    background-color: #17313a;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-inline: 5px;
    bottom: 5px;
    width: 120px;
    height: 30px;    
    opacity: .7;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0.5px 0.5px #99bbff7b;
    z-index: 5;
}

#extraText {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;    
    border: 2px solid #17313a;
    background: white;
    color: black(0, 0%, 100%, .9);
    font-size: 21px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    font-family: "sofia-pro", sans-serif;
    z-index: 4;
}

.firstGrid {
    display: grid;
    margin-top: 90px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    z-index: 0;
}

.secGrid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    margin-left:15px;
}

label {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


#leftContainer {
    height: 100%;
    margin: 10px;
}


#input-area {
    height: 430px;
    margin-left: 15px;
}

#editor {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background: white;
    color: black(0, 0%, 100%, .9);
    font-size: 21px;
    font-family: "sofia-pro", sans-serif;
    overflow-wrap: break-word;
    resize: none;
}

#container {
    width: 100%;
    min-height: 100vh;
    background-color: #161a1d;
    flex-direction: column;
    overflow: hidden;
}

#contentBox {
    width: 10in;
    height: 7in;
}

.btnBox {
    float: right;
    margin-left: 5px;
    margin-top: 19px;
}

.option {
    float: left;
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    /*box-shadow: 0.5px 1px 0px #99bbff7b;*/
}

.input {
    color: white;
    font-size: 14px;
    background: #284b63;
    padding-inline: 5px;
    border: 1.5px solid black;
    height: 35px;
    font-weight: 500;
    position: relative;
}

.save-btn {
    border-radius: 4px;
    border: none;
    background: #17313a;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0.5px 0.5px #99bbff7b;
}

.layout-select {
    margin-top: 10px;
    display: inline-grid;
}

.layout-select select,
.layout-select option,
.newPageBtn button,
.previewSelect button,
.alignTextC button,
.generateBtn button,
#promptInput::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;    
}

.btnShadow:hover {
    border-radius: 2px;
    border: none;
    color: hsla(0, 0%, 100%, .9);
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0.5px 0.5px #99bbff;
    /*box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.19), 0 17px 50px 0 rgba(0, 0, 0, 0.19);*/
}

.mark-section {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.outputSection {
    height: 100%;
    width: 95%;
    position: relative;
    background-color: #161a1d;
}

.newClass {
    height: 100%;
    display: flex;
    position: relative;
}

.output-area {
    width: 100%;
    height: 100%;
    position: relative;
}

.textOutput {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 10px;
    list-style: none;
    border: 2px solid #17313a;
    background: white;
    color: black(0, 0%, 100%, .9);
    font-size: 21px;
    font-family: "sofia-pro", sans-serif;
    overflow-wrap: break-word;
    padding: 10px;
}

.textOutput img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    max-width: 100%;
    max-height: 80%;
}

.current-page {
    z-index: 1;
}

.carousel__nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: hsla(0, 0%, 100%, 0.566);
    margin: 0 7px;
    cursor: pointer;
    z-index: 10;
}

.current-dot {
    background: hsla(0, 0%, 100%, 0.961);
}

.arrows {
    width: 30px;
    height: 50px;
}

.rightSection {
    margin-top: 30px;
}

.generateBtn {
    margin-top: 40px;
}

.layout-select {
    margin-top: 10px;
    margin-bottom: 10px;
}

.placement-select {
    margin-top: 10px;
}

.openClose-btn {
    border-radius: 4px;
    border: none;
    margin-bottom: 25px;
    width: 200px;
    background: #17313a;
    color: hsla(0, 0%, 100%, .9);
    /*font-size: 15px;*/
    height: 35px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 0.5px 0.5px #99bbff7b;
}

.alignTextC {
    text-align: center;
}

.current-page {
    display: block;
}

.is-hidden {
    display: none;
}

#rightArrow,
#leftArrow {
    position: absolute;
    width: 35px;
    top: 50%;
    z-index: 10;
}
#leftArrow{
    left:0;
}
#rightArrow{
    right:0;
}


.scroll-hide{
    width: 240px;
    height: 80px;
}

.imageContainer img{
    width: 584px;
    height: 396px;
}
@media (max-width: 480px) { 
    #editor { 
        background-color: red; 
    } 
} 


@media (min-width: 481px) and (max-width: 767px) { 
    #editor { 
        background-color: yellow; 
    } 
} 


@media (min-width: 768px) and (max-width: 1024px){ 
    #editor { 
        background-color: blue; 
    } 
} 


@media (min-width: 1025px) and (max-width: 1280px){ 
    #editor { 
        background-color: green; 
    } 
} 


@media (min-width: 1281px) { 
    .firstGrid {
        grid-template-columns: 50% 1fr;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .secGrid {
        margin-top: 90px;
        margin-left: 10px;
        grid-template-columns: 50% 1fr;
        display: flex;         
        flex-direction: column;         
        width: 50%;     
    }      
    .gridCont {         
        display: flex;     
    }
    .outputSection{
        margin: 0;
        padding: 0;
    }

    .newClass{
        align-items: baseline;
    }
    #rightArrow,
    #leftArrow {
        align-self:  center;
    }
    .textOutput{
        min-width: 565px;
    }
    #contentBox{
        height: 430px;
    }
    #editor { 
        min-width: 565px;
        background-color: pink; 
    } 
}