@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    min-height: 100vh;
    background-color: #161a1d;
    flex-direction: column;
    overflow: hidden;
    /* opacity: 90%; */
}

#headerDiv {
    padding: 20px;
    overflow: hidden;
    background-color: #0b090a;
    opacity: 85%;
}

#leftDiv {
    width: 75%;
    float: left;
    padding: 20px;
}

#rightDiv {
    width: 25%;
    padding: 20px;
    float: right;
}

#pageDisplay {
    float: left;
    width: 50%;
}

.input-area {
    overflow-y: auto;
    height: 404px;
    width: 65%;
}

.output-area {
    width: 8.3in;
    height: 100%;
    margin-top: 10px;
    list-style: none;
    position: relative;
}

.mark-section {
    display: flex;
    position: relative;
    height: 100%;
}

.text-input,
.textOutput {
    width: 100%;
    border: 2px solid #17313a;
    background: white;
    color: black(0, 0%, 100%, .9);
    font-size: 21px;
    min-height: 400px;
    font-family: "sofia-pro", sans-serif;
    overflow-wrap: break-word;
    padding: 10px
}

.text-input {
    resize: none;
    overflow: hidden;
}

.textOutput {
    height: 100%;
    position: absolute;
}

.output-area img {
    max-width: 100%;
    max-height: 80%;
    bottom: 0;
    position: absolute;
    left: 0;
}

.input {
    color: hsla(0, 0%, 100%, .9);
    font-size: 14px;
    background: #284b63;
    padding-inline: 5px;
    border: 1.5px solid black;
    height: 35px;
    font-weight: 700;
    position: relative;
}

#btn-section {
    float: right;
    width: 50%;
    gap: 10px;
    font-size: 15px;
    font-family: "sofia-pro", sans-serif;
}

.save-btn {
    border-radius: 3px;
    background: #17313a;
    color: hsla(0, 0%, 100%, .9);
    font-size: 15px;
    height: 35px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 700;
}

.btnBox {
    margin-top: 24px;
}

.option {
    float: right;
    display: flex;
    margin-right: 3px;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
}

.btnShadow:hover {
    border-radius: 3px;
    border: none;
    color: hsla(0, 0%, 100%, .9);
    font-size: 15px;
    height: 35px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.click-btn {
    border-radius: 30px;
    background: #ffffff;
    border: none;
    color: hsla(0, 0%, 100%, .9);
    font-size: 15px;
    height: 35px;
    padding-inline: 70px;
    cursor: pointer;
    font-weight: 700;
}

#extraText {
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #17313a;
    background: white;
    color: black(0, 0%, 100%, .9);
    font-size: 21px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    font-family: "sofia-pro", sans-serif;
}

.openClose-btn {
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 200px;
    background: #17313a;
    color: hsla(0, 0%, 100%, .9);
    font-size: 15px;
    height: 35px;
    padding-inline: 5px;
    cursor: pointer;
    font-weight: 700;
}

.syntaxInfo {
    padding-bottom: 20px;
}

.nextBtn {
    float: right;
}
.newClass{
    display: flex;
    align-items: center;
    height: 100%;
}

.carousel__button {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 2; */
}

.carousel__button--left {
    /* left: -30px; */
}

.carousel__button--right {
    /* right: -30px; */
}

/* .is-hidden {
    display: none;
} */

.current-page {
    z-index: 1;
}

.carousel__nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 7px;
    cursor: pointer;
    z-index: 10;
}

.current-dot {
    background: rgba(0, 0, 0, .75);
}

.arrows {
    width: 50px;
    height: 70px;
}

label {
    color: white;
    font-weight: 600;
    font-family: cursive;
}